<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8f5ae">  <td>23/12/29 18:43:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestCase_1.Get_Executor()[pri:0, instance:Test_Package.GET_TestCase_1@68c9d179]">Get_Executor</td> 
  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>23/12/29 18:43:00</td>   <td>-1824</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH_TestCase_1.Patch_Executor()[pri:0, instance:Test_Package.PATCH_TestCase_1@7ae0a9ec]">Patch_Executor</td> 
  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="75b7e8">  <td>23/12/29 18:42:56</td>   <td>-6351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestCase_1.Post_Executor()[pri:0, instance:Test_Package.POST_TestCase_1@6d60fe40]">Post_Executor</td> 
  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>23/12/29 18:43:04</td>   <td>1797</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_TestCase_1.Put_Executor()[pri:0, instance:Test_Package.PUT_TestCase_1@d554c5f]">Put_Executor</td> 
  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>23/12/29 18:43:02</td>   <td>-92</td> <td>&nbsp;</td><td title="&lt;&lt;PATCH_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.PATCH_TestCase_1@7ae0a9ec]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="75b7e8">  <td>23/12/29 18:43:02</td>   <td>-89</td> <td>&nbsp;</td><td title="&lt;&lt;POST_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.POST_TestCase_1@6d60fe40]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>23/12/29 18:43:05</td>   <td>2775</td> <td>&nbsp;</td><td title="&lt;&lt;GET_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.GET_TestCase_1@68c9d179]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>23/12/29 18:43:05</td>   <td>2778</td> <td>&nbsp;</td><td title="&lt;&lt;PUT_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.PUT_TestCase_1@d554c5f]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="75b7e8">  <td>23/12/29 18:42:55</td>   <td>-6446</td> <td>&nbsp;</td><td title="&gt;&gt;POST_TestCase_1.test_setup()[pri:0, instance:Test_Package.POST_TestCase_1@6d60fe40]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>23/12/29 18:42:55</td>   <td>-7196</td> <td>&nbsp;</td><td title="&gt;&gt;PATCH_TestCase_1.test_setup()[pri:0, instance:Test_Package.PATCH_TestCase_1@7ae0a9ec]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="f8f5ae">  <td>23/12/29 18:43:02</td>   <td>-57</td> <td>&nbsp;</td><td title="&gt;&gt;GET_TestCase_1.test_setup()[pri:0, instance:Test_Package.GET_TestCase_1@68c9d179]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1569754439</td>   <td></td> </tr>
<tr bgcolor="7cd9b2">  <td>23/12/29 18:43:02</td>   <td>-54</td> <td>&nbsp;</td><td title="&gt;&gt;PUT_TestCase_1.test_setup()[pri:0, instance:Test_Package.PUT_TestCase_1@d554c5f]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1569754439</td>   <td></td> </tr>
</table>
