<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aa63ab">  <td>23/12/21 18:54:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestCase_1.Get_Executor()[pri:0, instance:Test_Package.GET_TestCase_1@25be7b63]">Get_Executor</td> 
  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>23/12/21 18:53:54</td>   <td>-9650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH_TestCase_1.Patch_Executor()[pri:0, instance:Test_Package.PATCH_TestCase_1@304bb45b]">Patch_Executor</td> 
  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>23/12/21 18:53:47</td>   <td>-15970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestCase_1.Post_Executor()[pri:0, instance:Test_Package.POST_TestCase_1@61c4eee0]">Post_Executor</td> 
  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>23/12/21 18:54:01</td>   <td>-2143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_TestCase_1.Put_Executor()[pri:0, instance:Test_Package.PUT_TestCase_1@723ca036]">Put_Executor</td> 
  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>23/12/21 18:54:05</td>   <td>1718</td> <td>&nbsp;</td><td title="&lt;&lt;POST_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.POST_TestCase_1@61c4eee0]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>23/12/21 18:54:05</td>   <td>1703</td> <td>&nbsp;</td><td title="&lt;&lt;GET_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.GET_TestCase_1@25be7b63]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>23/12/21 18:54:05</td>   <td>1722</td> <td>&nbsp;</td><td title="&lt;&lt;PUT_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.PUT_TestCase_1@723ca036]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>23/12/21 18:54:05</td>   <td>1709</td> <td>&nbsp;</td><td title="&lt;&lt;PATCH_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.PATCH_TestCase_1@304bb45b]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="aa63ab">  <td>23/12/21 18:53:46</td>   <td>-16871</td> <td>&nbsp;</td><td title="&gt;&gt;GET_TestCase_1.test_setup()[pri:0, instance:Test_Package.GET_TestCase_1@25be7b63]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="d4949f">  <td>23/12/21 18:53:47</td>   <td>-16049</td> <td>&nbsp;</td><td title="&gt;&gt;PUT_TestCase_1.test_setup()[pri:0, instance:Test_Package.PUT_TestCase_1@723ca036]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="717375">  <td>23/12/21 18:53:47</td>   <td>-16111</td> <td>&nbsp;</td><td title="&gt;&gt;POST_TestCase_1.test_setup()[pri:0, instance:Test_Package.POST_TestCase_1@61c4eee0]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1689730682</td>   <td></td> </tr>
<tr bgcolor="63b9fe">  <td>23/12/21 18:53:46</td>   <td>-16854</td> <td>&nbsp;</td><td title="&gt;&gt;PATCH_TestCase_1.test_setup()[pri:0, instance:Test_Package.PATCH_TestCase_1@304bb45b]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1689730682</td>   <td></td> </tr>
</table>
