<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="65d769">  <td>23/12/22 17:25:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GET_TestCase_1.Get_Executor()[pri:0, instance:Test_Package.GET_TestCase_1@302c971f]">Get_Executor</td> 
  <td>main@317562294</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>23/12/22 17:25:54</td>   <td>3353</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PATCH_TestCase_1.Patch_Executor()[pri:0, instance:Test_Package.PATCH_TestCase_1@2a693f59]">Patch_Executor</td> 
  <td>main@317562294</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>23/12/22 17:25:57</td>   <td>6215</td> <td>&nbsp;</td><td title="&lt;&lt;PATCH_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.PATCH_TestCase_1@2a693f59]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317562294</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>23/12/22 17:25:57</td>   <td>6210</td> <td>&nbsp;</td><td title="&lt;&lt;GET_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.GET_TestCase_1@302c971f]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317562294</td>   <td></td> </tr>
<tr bgcolor="a47576">  <td>23/12/22 17:25:50</td>   <td>-869</td> <td>&nbsp;</td><td title="&gt;&gt;PATCH_TestCase_1.test_setup()[pri:0, instance:Test_Package.PATCH_TestCase_1@2a693f59]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317562294</td>   <td></td> </tr>
<tr bgcolor="65d769">  <td>23/12/22 17:25:50</td>   <td>-898</td> <td>&nbsp;</td><td title="&gt;&gt;GET_TestCase_1.test_setup()[pri:0, instance:Test_Package.GET_TestCase_1@302c971f]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@317562294</td>   <td></td> </tr>
</table>
