<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="92827e">  <td>24/01/13 07:06:19</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;PUT_TestCase_1.test_setup()[pri:0, instance:Test_Package.PUT_TestCase_1@7ae0a9ec]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@940857381</td>   <td></td> </tr>
<tr bgcolor="75b7e8">  <td>24/01/13 07:06:24</td>   <td>5879</td> <td>&nbsp;</td><td title="&lt;&lt;POST_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.POST_TestCase_1@6d60fe40]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@940857381</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>24/01/13 07:06:24</td>   <td>5901</td> <td>&nbsp;</td><td title="&lt;&lt;PUT_TestCase_1.Test_Teardown()[pri:0, instance:Test_Package.PUT_TestCase_1@7ae0a9ec]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@940857381</td>   <td></td> </tr>
<tr bgcolor="92827e">  <td>24/01/13 07:06:23</td>   <td>4749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PUT_TestCase_1.Put_Executor()[pri:0, instance:Test_Package.PUT_TestCase_1@7ae0a9ec]">Put_Executor</td> 
  <td>main@940857381</td>   <td></td> </tr>
<tr bgcolor="75b7e8">  <td>24/01/13 07:06:17</td>   <td>-1178</td> <td>&nbsp;</td><td title="&gt;&gt;POST_TestCase_1.test_setup()[pri:0, instance:Test_Package.POST_TestCase_1@6d60fe40]">&gt;&gt;test_setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@940857381</td>   <td></td> </tr>
<tr bgcolor="75b7e8">  <td>24/01/13 07:06:19</td>   <td>156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="POST_TestCase_1.Post_Executor()[pri:0, instance:Test_Package.POST_TestCase_1@6d60fe40]">Post_Executor</td> 
  <td>main@940857381</td>   <td></td> </tr>
</table>
